@font-face {
  font-family: ps;
  src: url("fonts/ps/ps.ttf") format("truetype");
}
@font-face {
  font-family: rock-salt;
  src: url("fonts/rock-salt/rock-salt.ttf") format("truetype");
}

body{
  overflow: hidden;
}

.vertical_slider_img_container img{
  width: 104vw;
  display: block;
}

video{
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: -1;
}

.img_drops span{
  font-size: 11px;
  padding: 0.3vw;
}

.coming_soon{
  font-size: 1vw;
  font-family: rock-salt;
  color: aliceblue;
  -webkit-text-stroke: 1px black;
  letter-spacing: 19px;
  background-color: black;
  width: fit-content;
  bottom: 0;
  position: fixed;
  margin: 2vw;
  padding: 1vw;
  border-radius: 11px;
}